.card {
  width: 250px;
  margin: 10px;
  border: gray 5px double !important;
}

.cards {
  text-align: center;
  text-transform: capitalize;
  margin-left: 5px;
  margin-right: 5px;
}

@font-face {
  font-family: "Pixel";
  src: url(../../fonts/arcadeclassic/ARCADECLASSIC.TTF) format("truetype");
}

.cards h3 {
  font-family: Pixel;
}

.card-img-top {
  height: 150px;
  width: auto;
}
