.card {
  width: 250px;
  margin: auto;
  margin-top: 10px !important;
  min-width: 320px;
  padding: 10px;
  position: relative;
  letter-spacing: 2px;
  cursor: pointer;
  border: none !important;
}


.card:after,
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 4px solid #0c0c0d;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.card:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
}
.card:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}
.card:hover:after,
.card:hover:before {
  -webkit-transform: translate(0);
  transform: translate(0);
}







.cards {
  text-align: center;
  text-transform: capitalize;
  margin-left: 5px;
  margin-right: 5px;
}

@font-face {
  font-family: "Pixel";
  src: url(../../fonts/arcadeclassic/ARCADECLASSIC.TTF) format("truetype");
}

.cards h3 {
  font-family: Pixel;
}

.card > .img > .card-img-top {
  height: 150px;
  display: flex;
  margin: auto;
  width: auto;
}
