.searchBar > .container > .d-flex {
  padding-top: 10px;
}

.searchBar > .container > .d-flex form > input {
  margin-right: 0px !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-color: black;
  /* border-width: 2px; */
}

.searchBar > .container > .d-flex form > button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-color: black;
  /* border-width: 2px; */
  /* height: 94%; */
  width: auto;
  color: black;
}

.searchBar > .container > .d-flex form > button:hover {
  background-color: #23272b;
  color: white;
}

.searchBar > .container > .d-flex > .form-inline > .form-control {
  width: auto;
  padding: 0;
}
